body{
    background-image: url('./back.jpg');
    font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
}
.container{
    position: fixed;
    bottom:5%;
    right: 8%;
}
.header{
   display: flex;
   flex-direction: column-reverse;
   justify-content: flex-start;
}

